.u-tl {
    text-align: left !important;
}

.u-tc {
    text-align: center;
}

.u-tr {
    text-align: right;
}

.fw600 {
    font-weight: 600;
}

.u-text-sm {
    font-size: 0.6rem;
    letter-spacing: 1px;
}
