<% var title = 'ON Body Clinic |  ABOUT'; %>
<% var description = '新宿駅徒歩1分の好アクセスにある、ダイエット専門のクリニックON Body Clinic(オン・ボディ・クリニック)当院は、ご自身の体格に悩む人のあらゆるニーズに対応する為にできたダイエット専門クリニックです。ご自身の体型にお悩みの方、部分痩せしたい方は、新宿ON Body Clinic(オン・ボディ・クリニック)へ' %>
<% var keywords = '新宿,ダイエット,メディカルダイエット,痩身,脂肪吸引,ラクやせ,冷却痩身,GLP-1'; %>
<% var path = '.'; %>
<% include common/_header-pages %>

<!-- 記述 -->


<div class="pages__title">
    <div class="contents po_rel">

        <h1>ABOUT</h1>
        <span>ON Body Clinicについて</span>

        <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                <a href="./index.html" class="js-hover is-opacity" itemprop="item"><span itemprop="name">HOME</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                <a href="./about.html" class="js-hover is-opacity" itemprop="item"><span
                        itemprop="name">ABOUT</span></a>
                <meta itemprop="position" content="2" />
            </li>
        </ul>
    </div>
</div><!-- /pages__title -->


<div class="introduction">

    <p
        class="tc">最新の冷却痩身をはじめ、投薬療法や脂肪吸引など医療の観点から<br class="pc-only">患者様一人一人に合った美容医療のご提案を致します。<br class="pc-only">美容クリニックだからこそできる上質な施術で効果を実感する事が出来ます。</p>

</div><!-- /introduction -->


<section class="about__anchor">

    <div class="contents">
        <ul class="about__anchor-links bg-cover">
            <li class="anchor-link link01">
                <a href="#conceput">
                    <p>患者様のあらゆるニーズに対応する為<br class="pc-only">にできた美容クリニック</p>
                </a>
            </li>

            <li class="anchor-link link02">
                <a href="#access">
                    <p>駅から徒歩1分<br class="pc-only">簡単予約</p>
                </a>
            </li>

            <li class="anchor-link link03">
                <a href="#surprise">
                    <p>エステ・ジムと<br class="pc-only">ON Body Clinicの違い</p>
                </a>
            </li>
        </ul>
    </div><!-- /contents -->

</section>

<section class="about-sec conceput bg-cover" id="conceput">
    <div class="contents flex">
        <div class="about_contents-box">
            <h2>CONCEPT</h2>

            <p class="cach">患者様のあらゆるニーズに対応する為に<br class="pc-only">できた美容クリニック</p>

            <p>他院で痩身治療をしてみたが、思い描いていた<br class="sp-only">理想の体型になれなかった。<br>ピンポイントで治療したいところがあるが、<br class="sp-only">施術出来るクリニックがなかなか見つからない。<br>すぐにリバウンドしてしまう。</p>

            <p class="mb0">そんな様々なお悩みを抱えた患者様に、<br class="sp-only">最適なご提案をするべく開院したクリニックだからこそ出来る様々な治療が御座います。</p>

            <ul class="btn-area flex">
                <li><a href="menu.html#body-02-01" class="btn btn-green">お薬治療について</a></li>
                <li><a href="./pr01" class="btn btn-green" target="_blank">冷却痩身について</a></li>
                <li><a href="menu.html#body-04-01" class="btn btn-green">脂肪吸引について</a></li>
            </ul>
        </div><!-- /about_contents-box -->

        <div class="thumb">
            <img src="<%= path %>/src/img/about/concept_thumb.png" alt="クラツーアルファ">
        </div>
    </div><!-- /contents -->
</section>

<section class="about-sec access bg-cover" id="access">
    <div class="contents flex align-cent">
        <div class="about_contents-box">
            <h2>ACCESS</h2>

            <p class="cach">新宿駅から徒歩1分・簡単予約</p>
            <p
                class="mb0">治療に行くにも・継続をするにも通いやすさは重要なポイントです。<br class="pc-only">そこで患者様を第一に考え新宿駅から徒歩1分圏内に開院しました。<br class="pc-only">いつでもどこでも、PC・スマホから簡単にご予約いただけます。</p>
        </div><!-- /about_contents-box -->
        <div class="btn-cont"><a href="https://goo.gl/maps/qig1Gcw6YvigPiHM8" target="_blank"
                class="btn btn-square">地図をみる</a></div>
    </div><!-- /contents -->
</section>

<section class="about-sec surprise" id="surprise">
    <div class="contents">
        <div class="about_contents-box">
            <h2>SURPRISE</h2>

            <p class="cach">エステ・ジムと<br class="sp-only">ON Body Clinicの違い　</p>
            <p>エステサロンは、美容クリニックに通うより価格は抑えられるという長所があります。<br>しかし、痩身エステだけで痩せる事は難しく、サイズダウンや太りにくい体質などは目指せますが、バランスの良い食生活や適度な運動など生活習慣の改善ありきのメニューとなっております。<br>また、施術の中には痛みも伴うものもあり、多少の我慢が必要となってきます。<br>さらに、ジムでダイエットを行う場合週に２〜３回の通い、最低でも２〜３ヵ月程度通い続ける事で効果が出てくる為、努力が必要となります。</p>
            <p
                class="mb0">当クリニックではエステ・ジムではできない医療分野からのダイエットをご提案させて頂きます。<br>食事制限、定期的な運動も必要ありません。<br>どなたでも気軽に、理想の体型を手にする事が可能となっております。</p>
        </div><!-- /about_contents-box -->
    </div><!-- /contents -->
</section>






<% include common/_footer-pages %>
