<% var title = '感染症クリニック | アクセス'; %>
<% var description = '福岡県天神駅から徒歩4分の所に新たにオープンした、「感染症検査クリニック」。感染症検査クリニックは性病の治療・検査を専門にしたクリニックです。駅近で夜8時まで受付、WEB予約が可能です。コロナウイルスや性病の即日15分検査を始め、さまざまな性病の検査・治療について皆さんのご希望に幅広く対応します。'%>
<% var keywords = '感染症,福岡市,B型肝炎' ;%>
<% var path = '.'; %>
<% include common/_header-pages %>

<!-- 記述 -->
<div class="l-col02_wrapper u-flex">

    <h1 class="l-col-left u-vertical__ttl">
        <span class="u-f-questrial u-vertical__ttl__main">ACCESS</span>
        <span class="u-vertical__ttl__sub">アクセス</span>
    </h1>

    <div class="l-col-right">

        <div class="l-pages-inner">

            <div class="p-access_box">

                <div class="p-access_box__left">
                    <div class="p-access_box__logo">
                        <img src="<%= path %>/src/img/top/infomation_logo.png" alt="感染症検査クリニック">
                    </div>
                    <!-- ./p-information_box__logo -->

                    <div class="p-access_box__thumb">
                        <img src="<%= path %>/src/img/common/c_sample.jpg" alt="準備中">
                    </div>
                    <!-- ./p-access_box__thumb -->

                    <dl class="p-address-box">
                        <dt class="p-address-box__ttl">所在地</dt>
                        <dd class="p-address-box__desc">福岡県福岡市中央区天神２-６-13 <br class="u-sp-only">きらめき通りジェムキャッスル2F</dd>
                    </dl>

                    <dl class="p-address-box">
                        <dt class="p-address-box__ttl">交通アクセス</dt>
                        <dd class="p-address-box__desc">
                            <span class="p-address-box__sub-tit">西鉄天神大牟田線</span>
                            ：西鉄天神駅より徒歩1分
                        </dd>
                        <dd class="p-address-box__desc">
                            <span class="p-address-box__sub-tit">福岡市営地下鉄空港線</span>
                            ：天神駅から徒歩3分
                        </dd>
                    </dl>

                    <a href="<%= path %>/tel/kansenshou.html" class="p-address-tel">
                        <p class="p-address-tel__ttl">お問い合わせこちらから</p>
                        <p class="p-address-tel__number">0120-133-220</p>
                        <p class="p-address-tel__time">受付 10:00～19:00 不定休</p>
                    </a>
                </div>
                <!-- ./p-access_box__left -->

            </div>
            <!-- ./p-access_box -->

        </div>
        <!-- ./p-information_box -->

        <div class="p-access-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.6229392244795!2d130.3946608152031!3d33.58913803073451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x68286146ba9ebcf!2z44K444Kn44Og44Kt44Oj44OD44K544Or44KG44GN44GW44GNIOemj-WyoeacrOW6lw!5e0!3m2!1sja!2sjp!4v1590143449033!5m2!1sja!2sjp"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
            <a href="https://goo.gl/maps/rKwZX3V18AzvrjjAA" class="c-menu_btn p-map-btn" target="_blank">Google
                Mapで見る</a>

        </div>



        <% include common/_copy-light %>

    </div>
    <!-- ./l-col-right -->


</div>







<% include common/_footer %>
