<% var title = '感染症クリニック | C型肝炎'; %>
<% var description = '福岡県天神駅から徒歩4分の所に新たにオープンした、「感染症検査クリニック」。感染症検査クリニックは性病の治療・検査を専門にしたクリニックです。駅近で夜8時まで受付、WEB予約が可能です。コロナウイルスや性病の即日15分検査を始め、さまざまな性病の検査・治療について皆さんのご希望に幅広く対応します。'%>
<% var keywords = '感染症,福岡市,B型肝炎' ;%>
<% var path = '.'; %>
<% include common/_header-pages %>

<!-- 記述 -->
<div class="l-col02_wrapper u-flex">

    <h1 class="l-col-left u-vertical__ttl">
        <span class="u-f-questrial u-vertical__ttl__main">HEPATITIS C</span>
        <span class="u-vertical__ttl__sub">C型肝炎</span>
    </h1>

    <div class="l-col-right">

        <div class="p-pages-about">
            <h2 class="p-pages-about__tit c-tit-blue">C型肝炎とは？</h2>
            <div class="p-pages-about-row l-pages-inner">
                <div class="p-pages-about-row__left">

                    <p class="p-pages-about__desc">
                                                                C型肝炎とは、肝炎を起こすウイルスの感染により、起こる病気です。<br>
                                                                このウイルスに感染した約7割前後の方が慢性肝炎となり、肝臓の細胞が壊れ始め重大な疾患へと進行する可能性があります。
                                                            </p>

                    <p class="p-pages-about__desc">
                                                                現在の日本では100人に1〜2人の割合で、C型慢性肝炎の感染者がいると推測され、“21世紀の国民病”とまでいわれています。
                                                            </p>

                    <p class="p-pages-about__desc  u-mb0">
                                                                                        少しでも思い当たる方は早期の検査をお勧めいたします。
                                                            </p>
                </div>
                <!-- .p-pages-about-row__left -->

                <div class="p-pages-about-row__thumb">
                    <img src="<%= path %>/src/img/type-c/about_thumb.png" alt="C型肝炎とは？">
                </div>
                <!-- ./p-pages-about-row__thumb -->

            </div>
            <!-- ./p-pages-about-row -->

        </div>
        <!-- ./p-pages-about -->

        <section class="c-check p-check">
            <div class="l-pages-inner">

                <h3 class="c-check-ttl c-red">下記の項目に当てはまる方は、感染のリスクが一般の人より高いと考えられます。</h3>
                <ul class="c-check-list c-check-list--type-c">
                    <li class="c-check-list__item">1992年以前に輸血や大きな手術を受けたことがある。</li>
                    <li class="c-check-list__item">過去に肝機能異常を指摘されたことがある。</li>
                    <li class="c-check-list__item">1994年以前にフィブリノゲン製剤を投与されたことがある。</li>
                    <li class="c-check-list__item">血液透析を受けている。</li>
                    <li class="c-check-list__item">入れ墨（タトゥー）をしている。</li>
                    <li class="c-check-list__item">家族にC型肝炎ウイルス陽性またはC型肝炎の患者がいる。</li>
                </ul>

            </div>
            <!-- ./l-pages-inner -->
        </section>

        <section class="p-case">
            <div class="l-pages-inner">
                <div class="c-bg-desc">
                    <h3 class="c-blue c-bg-desc__ttl">症状</h3>

                    <p class="c-bg-desc__text">
                        主な症状として、<span class="c-red">倦怠感、食欲不振、吐き気、濃い色の尿が出る、黄疸（体や白目が黄色っぽくなる）</span>などが挙げられます。<br>しかし、このような自覚症状の出る人は感染者の20〜30％と言われ、自覚症状が無い場合が多いです。
                    </p>

                </div>
            </div>
        </section>


        <section class="p-inspection">
            <div class="l-pages-inner">
                <ul class="p-inspection-list">
                    <li class="p-inspection-list__item">
                        <h3 class="c-tit-underline p-inspection-list__ttl">通常検査</h3>
                        <div class="p-inspection-list-row u-flex-sb">

                            <div class="p-inspection-list-row__left">
                                <span class="p-inspection-list-row__point c-bg-r-text">結果報告 5〜7日</span>

                                <p class="p-inspection-list-row__desc">
                                                            患者さまの体内に現在もウィルスが存在するか否かを検査していきます。<br>
                                                            また、HCV抗体の数値が低いと見逃す可能性も有りますので、<br class="u-pc-only">クイック検査より正確な測定が可能です。
                                                            </p>
                                <dl class="c-price-row">
                                    <dt class="c-price-row__name">検査料金</dt>
                                    <dd class="c-price-row__price">お問合せ下さい</dd>
                                </dl>
                            </div>
                            <!-- ./p-inspection-list-row__left -->


                            <div class="p-inspection-list-row__thumb">
                                <img src="<%= path %>/src/img/type-b/inspection_thumb01.jpg" alt="通常検査">
                            </div>
                            <!-- ./p-inspection-list-row__thumb -->
                        </div>
                        <!-- ./p-inspection-list__row -->
                    </li>

                    <li class="p-inspection-list__item">
                        <h3 class="c-tit-underline p-inspection-list__ttl">クイック検査</h3>
                        <div class="p-inspection-list-row u-flex-sb">

                            <div class="p-inspection-list-row__left">
                                <span class="p-inspection-list-row__point c-bg-r-text">結果報告 即日 20〜30分</span>

                                <p class="p-inspection-list-row__desc">
                                                                                C型肝炎はウィルスが肝臓に寄生し、慢性化すると、将来高い確率で肝硬変・肝臓癌を引き起こすウィルスです。<br>感染経路は血液を介しての感染が殆どであり、出血を伴う性行為、輸血などで感染します。今回の検査が陽性の場合、C型肝炎ウィルスに対する抗体がある事になるため、過去に感染して今は治癒してしまっている人も陽性となる可能性があります。
                                                                                </p>
                                <dl class="c-price-row">
                                    <dt class="c-price-row__name">検査料金</dt>
                                    <dd class="c-price-row__price">お問合せ下さい</dd>
                                </dl>
                            </div>
                            <!-- ./p-inspection-list-row__left -->


                            <div class="p-inspection-list-row__thumb">
                                <img src="<%= path %>/src/img/type-b/inspection_thumb02.jpg" alt="クイック検査">
                            </div>
                            <!-- ./p-inspection-list-row__thumb -->
                        </div>
                        <!-- ./p-inspection-list__row -->
                    </li>
                </ul>
            </div>
            <!-- ./l-pages-inner -->
        </section>


        <% include common/_copy-light %>

    </div>
    <!-- ./l-col-right -->


</div>







<% include common/_footer %>
