<% var title = '感染症クリニック | B型肝炎'; %>
<% var description = '福岡県天神駅から徒歩4分の所に新たにオープンした、「感染症検査クリニック」。感染症検査クリニックは性病の治療・検査を専門にしたクリニックです。駅近で夜8時まで受付、WEB予約が可能です。コロナウイルスや性病の即日15分検査を始め、さまざまな性病の検査・治療について皆さんのご希望に幅広く対応します。'%>
<% var keywords = '感染症,福岡市,B型肝炎' ;%>
<% var path = '.'; %>
<% include common/_header-pages %>

<!-- 記述 -->
<div class="l-col02_wrapper u-flex">

    <h1 class="l-col-left u-vertical__ttl">
        <span class="u-f-questrial u-vertical__ttl__main">HEPATITIS B</span>
        <span class="u-vertical__ttl__sub">Ｂ型肝炎</span>
    </h1>

    <div class="l-col-right">

        <div class="p-pages-about p-pages-about--type-b">
            <h2 class="p-pages-about__tit c-tit-blue">B型肝炎とは？</h2>
            <div class="p-pages-about__textbox">
                <p class="p-pages-about__desc">
                            B型肝炎はB型肝炎ウイルスが血液・体液を介して感染して起きる肝臓の病気です。アルコールの過剰摂取などが原因の肝炎とは違う病気です。

                            </p>

                <p class="p-pages-about__desc u-mb0">
                                                        B型肝炎ウイルスは肝臓に感染して炎症を起こし。肝炎が持続すると慢性肝炎から肝硬変、さらには肝がん（肝細胞癌）へと進展する可能性がある感染症です。
                                                        </p>
            </div>

        </div>
        <!-- ./p-pages-about -->

        <section class="p-root">
            <div class="l-pages-inner">

                <h2 class="c-tit-blue">感染経路</h2>

                <ul class="c-thumb-list p-root-list">
                    <li class="c-thumb-list__item">
                        <div class="c-thumb-list__thumb">
                            <img src="<%= path %>/src/img/type-b/root_thumb01.jpg" alt="垂直感染">
                        </div>
                        <!-- ./c-thumb-list__thumb -->
                        <h3 class="c-thumb-list__ttl c-blue">垂直感染</h3>
                        <p class="c-thumb-list__desc">出産時の産道の血液を介して感染、または、授乳の際の感染など、母親から直接その子供へと感染する事を垂直感染と言います。</p>
                    </li>

                    <li class="c-thumb-list__item">
                        <div class="c-thumb-list__thumb">
                            <img src="<%= path %>/src/img/type-b/root_thumb02.jpg" alt="水平感染">
                        </div>
                        <!-- ./c-thumb-list__thumb -->
                        <h3 class="c-thumb-list__ttl c-blue">水平感染</h3>
                        <p
                            class="c-thumb-list__desc">人から人へと感染が広がって行く事を水平感染と言います。<br>現在最も多い水平感染は性行為での感染です。過去には使用済の注射器や不衛生な器具を使用した医療行為などで感染していた事もありましたが、現在では医療環境の整備によりほとんど起きなくなりました。</p>
                    </li>

                </ul>

                <div class="c-bg-desc">
                    <h3 class="c-blue c-bg-desc__ttl">感染様式の違いによる症状</h3>
                    <ul class="c-desc-row">
                        <li class="c-desc-row__item">
                            <h4 class="c-desc-row__ttl c-blue">一過性感染</h4>
                            <p
                                class="c-desc-row__desc u-mb0">一過性感染では、急性肝炎の症状が現れる方と、症状がないまま治癒する不顕性感染に分かれます。<br>どちらの場合でも症状がおさまった後はウイルスが体から排除されており、HBVに対する免疫を獲得します。<br>その後、再びHBVに感染することはありません。<br>HBV感染後、数ヵ月の潜伏期間を経て、“倦怠感”、“食欲不振”、“吐き気”などの症状があらわれます。<br>その後、皮膚や眼球の白い部分が黄色くなる“ 黄疸 ”があらわれることもあります。黄疸は自然に消え、肝機能も正常に戻ります。</p>
                        </li>

                        <li class="c-desc-row__item c-desc-row__item--pd-short">
                            <h4 class="c-desc-row__ttl c-blue">持続感染</h4>

                            <p
                                class="c-desc-row__desc">持続感染とは、ウィルスが体内から排除されず、6ヵ月以上にわたって肝臓の中にすみつくと、慢性肝炎を発症します。<br>慢性肝炎の多くは、出産時や幼児期に感染した無症候性キャリアからの発症です。</p>
                            <p
                                class="c-desc-row__desc c-red u-mb0">※症状が出る人は感染者の約20〜30％と言われ、感染者の半数以上は症状が出ないまま、自然に治ります。<br>しかし症状が出る人のうちの1〜2％の方は、劇症肝炎を発症する可能性があり注意が必要です。</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- ./l-pages-inner -->
        </section>

        <section class="p-inspection">
            <div class="l-pages-inner">
                <ul class="p-inspection-list">
                    <li class="p-inspection-list__item">
                        <h3 class="c-tit-underline p-inspection-list__ttl">通常検査</h3>
                        <div class="p-inspection-list-row u-flex-sb">

                            <div class="p-inspection-list-row__left p-inspection-list-row__left--type-b">
                                <span class="p-inspection-list-row__point c-bg-r-text">結果報告 5〜7日</span>

                                <p class="p-inspection-list-row__desc">
                                                                体内のHBs抗原を測定し、検査結果が陽性の場合には、体内にB型肝炎ウイルスが存在すると考えられます。<br>ウイルスの遺伝子であるHBV-DNAの量を測定することで正確にわかります。
                                                            </p>
                                <dl class="c-price-row">
                                    <dt class="c-price-row__name">検査料金</dt>
                                    <dd class="c-price-row__price">お問合せ下さい</dd>
                                </dl>
                            </div>
                            <!-- ./p-inspection-list-row__left -->


                            <div class="p-inspection-list-row__thumb">
                                <img src="<%= path %>/src/img/type-b/inspection_thumb01.jpg" alt="通常検査">
                            </div>
                            <!-- ./p-inspection-list-row__thumb -->
                        </div>
                        <!-- ./p-inspection-list__row -->
                    </li>

                    <li class="p-inspection-list__item">
                        <h3 class="c-tit-underline p-inspection-list__ttl">クイック検査</h3>
                        <div class="p-inspection-list-row u-flex-sb">

                            <div class="p-inspection-list-row__left p-inspection-list-row__left--type-b">
                                <span class="p-inspection-list-row__point c-bg-r-text">結果報告 即日 20〜30分</span>

                                <p class="p-inspection-list-row__desc">
                                                                                    C型肝炎はウィルスが肝臓に寄生し、慢性化すると、将来高率で肝硬変・肝臓癌を引き起こすウィルスです。<br>感染経路は血液を介しての感染が殆どであり、出血を伴う性行為、輸血などで感染します。<br class="u-sp-only">今回の検査が陽性の場合、C型肝炎ウィルスに対する抗体がある事になるため、過去に感染して今は治癒してしまっている人も陽性となる可能性があります。
                                                                                </p>
                                <dl class="c-price-row">
                                    <dt class="c-price-row__name">検査料金</dt>
                                    <dd class="c-price-row__price">お問合せ下さい</dd>
                                </dl>
                            </div>
                            <!-- ./p-inspection-list-row__left -->


                            <div class="p-inspection-list-row__thumb">
                                <img src="<%= path %>/src/img/type-b/inspection_thumb02.jpg" alt="クイック検査">
                            </div>
                            <!-- ./p-inspection-list-row__thumb -->
                        </div>
                        <!-- ./p-inspection-list__row -->
                    </li>
                </ul>
            </div>
            <!-- ./l-pages-inner -->
        </section>


        <% include common/_copy-light %>

    </div>
    <!-- ./l-col-right -->


</div>







<% include common/_footer %>
