<% var title = '感染症クリニック | （子宮頸がん・子宮体がん）スメア検査'; %>
<% var description = '福岡県天神駅から徒歩1分の所に新たにオープンした、「感染症検査クリニック」。感染症検査クリニックでは、子宮がんの検査を行っております、子宮がんは発見が遅れ適切な治療を施さないと、治療が難しくなります。子宮がんの症状が疑われる方は、天神駅にある感染症検査クリニックまで。'%>
<% var keywords = '感染症,福岡市,頚がんスメア,子宮体がんスメア' ;%>
<% var path = '.'; %>
<% include common/_header-pages %>

<!-- 記述 -->
<div class="l-col02_wrapper u-flex">

    <h1 class="l-col-left u-vertical__ttl">
        <span class="u-f-questrial u-vertical__ttl__main">HEPATITIS B</span>
        <span class="u-vertical__ttl__sub">（子宮頸がん・子宮体がん）スメア検査</span>
    </h1>

    <div class="l-col-right">

        <section class="p-pages-about p-pages-about--smear">
            <h2 class="p-pages-about__tit c-tit-blue">子宮がんとは？</h2>
            <div class="p-pages-about__textbox p-pages-about__textbox--smear">
                <p class="p-pages-about__desc">
                        子宮に発生するがんには、２つの種類があります。<br>子宮の入り口付近にできる子宮頸がんと、子宮の奥の部分にできる子宮体がんが存在します。</p>

                <p class="p-pages-about__desc">
                                        子宮頸がんの場合、子宮の入り口付近で発生する為、早期発見しやすく、比較的治療がしやすいのですが、発見が遅れ適切な治療を施せないと、治療が難しくなります。</p>

                <p
                    class="p-pages-about__desc u-mb0">次に子宮体がんについてです。このがんは閉経を迎えた方、生理不順の方が発症しやすく。40歳代後半から発症してしまう女性が増加していく傾向があり、月経以外の出血がある方はたとえ少量の出血でとしてもが受診をした方がいいでしょう。</p>
            </div>

        </section>
        <!-- ./p-pages-about -->


        <section class="p-case-kind">
            <div class="l-pages-inner">
                <h2 class="p-pages-about__tit c-tit-blue">子宮頸がん</h2>

                <div class="c-row02-box p-case-box">

                    <div class="c-row02-box__left p-case-box__text">
                        <p class="p-case-box__desc">子宮頸がんは、異形成といわれる、がんになる前の状態を何年か経てから、がんになるため。正常な状態からすぐにがんを発症するという訳ではありません、この異形成の時期は症状がなく、がんの進行が進むことにより、月経中でないときの出血、膿（うみ）のようなおりものや水っぽいおりものが多く出てきたりすることがあります。さらに進行すると下腹部や腰の痛み、尿や便に血が混じったりすることもあります。
</p>

                        <p
                            class="p-case-box__desc u-mb0">子宮頚がんの発生にはヒトパピローマウイルス（HPV）が関わっていると言われています。性交渉をすることで感染するため、多くの女性が一生に一度は感染すると言われています。このHPVとはありふれたウイルスであり、通常は感染していても、免疫機能の働きで排除されますが、稀に排除されずに長い期間感染していることがあり、細胞ががん化してしまい、子宮頚がんとなって発症すると考えれています。</p>
                    </div>
                    <!-- ./c-row02-box__left -->

                    <div class="c-row02-box__right p-case-box__thumb">
                        <img src="<%= path %>/src/img/smear/case_illust01.png" alt="子宮頸がん">
                    </div>
                    <!-- ./c-row02-box__right -->

                </div>

                <!-- ./c-row02-box -->

                <div class="c-check p-check--smear">
                    <h3 class="c-check-ttl c-red">次の項目に当てはまる方は、<br class="u-sp-only">発症が一般の人に比べ高いと考えられます。</h3>
                    <ul class="c-check-list p-check-list--smear">
                        <li class="c-check-list__item p-check-list__item--smear">初交年齢が早く、若かった方</li>
                        <li class="c-check-list__item p-check-list__item--smear">不摂生な食事、喫煙をしている</li>
                        <li class="c-check-list__item p-check-list__item--smear">セックスパートナーが多数いる方</li>
                        <li class="c-check-list__item p-check-list__item--smear">経口避妊薬を長期間服用している</li>
                        <li class="c-check-list__item p-check-list__item--smear">多くのお子様を出産されてきた方</li>
                        <li class="c-check-list__item p-check-list__item--smear">免疫力が低下してしまっている</li>
                    </ul>

                </div>
            </div>
            <!-- ./l-pages-inner -->
        </section>

        <section class="p-case-kind">
            <div class="l-pages-inner">
                <h2 class="p-pages-about__tit c-tit-blue">子宮体がん</h2>

                <div class="c-row02-box c-row02-box--reverse p-case-box">

                    <div class="c-row02-box__left p-case-box__text">
                        <p class="p-case-box__desc u-mb0">主な症状は不正出血です。月経以外の出血、とくに閉経後に出血がある場合、注意が必要です。おりものに混じるくらいの少量の出血でも軽視しないで受診したほうがいいでしょう。なお、ホルモンのバランスが崩れても月経とは別の出血が起こる場合がありますが、残念ながら、がんなどによる出血と区別することはできません。<br>子宮体がんの発生には、女性ホルモン、特にエストロゲンが深く関わっていると言われています。閉経を迎えていない、排卵周期が安定している方は、女性ホルモンがバランスよく分泌されているため、子宮内膜が剥離と再生を繰り返します。しかし生理不順や閉経後の方は、ホルモンバランスが崩れてしまい、結果、子宮内膜が増殖を続けてしまい、この状態を起因として、がんを発症すると考えられています。

        </p>
                    </div>
                    <!-- ./c-row02-box__left -->

                    <div class="c-row02-box__right p-case-box__thumb">
                        <img src="<%= path %>/src/img/smear/case_illust02.png" alt="子宮体がん">
                    </div>
                    <!-- ./c-row02-box__right -->

                </div>

                <!-- ./c-row02-box -->

                <div class="c-check p-check--smear">
                    <h3 class="c-check-ttl c-red">次の項目に当てはまる方は、<br class="u-sp-only">発症が一般の人に比べ高いと考えられます。</h3>
                    <ul class="c-check-list p-check-list--smear">
                        <li class="c-check-list__item p-check-list__item--smear">閉経前後の方</li>
                        <li class="c-check-list__item p-check-list__item--smear">生活習慣病を患っている</li>
                        <li class="c-check-list__item p-check-list__item--smear">排卵障害がある、または、あった方</li>
                        <li class="c-check-list__item p-check-list__item--smear">ホルモン剤を服用している</li>
                        <li class="c-check-list__item p-check-list__item--smear">妊娠・分娩の経験が少ない</li>

                    </ul>

                </div>
            </div>
            <!-- ./l-pages-inner -->
        </section>






        <section class="p-inspection">
            <div class="l-pages-inner">
                <ul class="p-inspection-list">
                    <li class="p-inspection-list__item">
                        <h3 class="c-tit-underline p-inspection-list__ttl">通常検査</h3>
                        <div class="p-inspection-list-row u-flex-sb">

                            <div class="p-inspection-list-row__left p-inspection-list-row__left--smear">
                                <span class="p-inspection-list-row__point c-bg-r-text">結果報告 5〜7日</span>

                                <p class="p-inspection-list-row__desc p-inspection-list-row__desc--smear">
                                                        スメア検査（すめあけんさ）とは、子宮頚部付近の細胞をヘラやブラシで採取して行う検査方法です。<br>がんになる前の異常な細胞を発見する上で、効果的な検査方法となります。<br>受診のタイミングとして、月経周期の12日目から16日目あたりで検査を受けるのが望ましいとされています。<br>閉経を迎えらている患者様の場合、不正出血などの症状があった時に一度検査をされる事をおすすめします。<br>最低でも1年に1回検査を受ける事により、ガンを早期発見し適切な治療法をご提案する事が可能です。

                                                            </p>
                                <dl class="c-price-row">
                                    <dt class="c-price-row__name">検査料金</dt>
                                    <dd class="c-price-row__price">お問合せ下さい</dd>
                                </dl>
                            </div>
                            <!-- ./p-inspection-list-row__left -->


                            <div class="p-inspection-list-row__thumb p-inspection-list-row__thumb--smear">
                                <img src="<%= path %>/src/img/smear/inspection_thumb01.jpg" alt="通常検査">
                            </div>
                            <!-- ./p-inspection-list-row__thumb -->
                        </div>
                        <!-- ./p-inspection-list__row -->
                    </li>
                </ul>
            </div>
            <!-- ./l-pages-inner -->
        </section>

        <% include common/_copy-light %>


    </div>
    <!-- ./l-col-right -->


</div>







<% include common/_footer %>
