.c-check-ttl {
    font-size: 1.4375rem;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1.0625rem;
    font-weight: 400;

    @media screen and (min-width: 768px) and (max-width: 1400px) {
        font-size: 1.42vw;
    }

    @media (min-width: 768px) {
        line-height: 1;
    }
}

.c-check-list {
    padding: 2.42rem 3.4375rem;
    background: no-repeat 50% 50% / cover;

    @media (max-width: 767px) {
        padding: 3.2rem 2.2rem;
    }

    &--type-c {
        background-image: url(../img/type-c/check_bg.jpg);
        border: 1px solid #bbbbbb;
        border-radius: 8px;

        @media (max-width: 767px) {
            background-image: url(../img/type-c/check_bg_sp.jpg);
            border-radius: 4px;
        }
    }

    &__item {
        padding-left: 2.4375rem;
        background: url(../img/type-c/icon_check.jpg) no-repeat 0% 50% / 1.3125rem auto;
        font-size: 1.375rem;
        line-height: 1;
        margin-bottom: 1.1875rem;

        &:last-of-type {
            margin-bottom: 0;
        }

        @media screen and (min-width: 768px) and (max-width: 1400px) {
            font-size: 1.34vw;
            background-size: 1.38vw auto;
        }

        @media (max-width: 767px) {
            margin-bottom: 1.8rem;
            background-size: 1.7rem auto;
            line-height: 1.24;
        }
    }
}
