.c-row02-box {
    display: flex;

    @media (max-width: 767px) {
        flex-flow: column;
    }

    &--reverse {
        @media (min-width: 768px) {
            flex-flow: row-reverse;
        }
    }
}
