.l-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    width: 100%;
}

.l-pages-inner {
    max-width: 1100px;
    margin-right: auto;

    @media (max-width: 767px) {
        width: 100%;
    }
}
