.l-wrapper {
    width: 100%;
    max-width: 1700px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.l-col02-fv {
    @media (max-width: 767px) {
        flex-flow: column;
    }
}

.l-col02_wrapper {
    @media (max-width: 767px) {}
}
