@charset "UTF-8";
/* reset & set
-------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

li {
  list-style-type: none;
}

a {
  color: #454545;
  cursor: pointer;
  text-decoration: none;
}

a img:hover,
a:hover {
  opacity: 0.8;
}

li img {
  display: block;
}

a img {
  border-style: none;
}

img {
  height: auto;
  vertical-align: bottom;
  width: 100%;
}

input,
label,
select,
button,
submit,
textarea {
  background: none;
  border: 0;
  display: inline-block;
  font: inherit;
  line-height: 1;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  white-space: normal;
}

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  -moz-appearance: button;
  -webkit-appearance: button;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: border-box;
  appearance: button;
  background: none;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

select {
  background: transparent;
  border: none;
  outline: none;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: 0;
}

/* Make webkit render the search input like a normal text field */
input[type="search"] {
  -webkit-appearance: textfield;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Turn off scroll bars in IE unless needed */
textarea {
  overflow: auto;
}

/*===================
HTML5 BLOCK
=====================================*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

iframe {
  vertical-align: bottom;
}

body {
  color: #333;
  font-family: "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴシック", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif;
}

html {
  font-size: 100%;
  /*16px*/
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  html {
    font-size: 2.33333vw;
  }
}

/*クリアフィックス*/
.cf:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}

.po_ad {
  position: absolute;
}

.po_rel {
  position: relative;
}

.trx {
  -webkit-transform: translateX(-50%);
  left: 50%;
  transform: translateX(-50%);
}

.try {
  -webkit-transform: translateY(-50%);
  top: 50%;
  transform: translateY(-50%);
}

.trxy {
  -webkit-transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*flex common*/
.vt {
  vertical-align: top !important;
}

/*見出し style*/
h1 {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
  -webkit-margin-start: 0;
  display: inline-block;
  font-size: 2.6rem;
  font-weight: 300;
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
}

h2,
h3,
h4 {
  font-weight: 300;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.8rem;
}

@media (max-width: 767px) {
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}

/*SLICK ARROW*/
.slick-arrow {
  -webkit-transform: translateY(-50%);
  background: no-repeat 50% 50% / auto 100%;
  height: 5vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4vw;
}

.slick-arrow::after {
  display: none;
}

.slick-arrow.next {
  background-image: url(../img/top/slide_arrow_next.png);
  right: -4.5vw;
}

.slick-arrow.prev {
  background-image: url(../img/top/slide_arrow_prev.png);
  left: -4.5vw;
}

@media (max-width: 767px) {
  .slick-arrow {
    background: no-repeat 50% 50% / auto 72%;
    height: 80px;
    width: 40px;
  }
  .slick-arrow::after {
    display: none;
  }
  .slick-arrow.next {
    right: -15%;
  }
  .slick-arrow.prev {
    left: -15%;
  }
}

.l-footer {
  border-top: 1px solid #003dab;
}

@media (max-width: 767px) {
  .l-footer {
    margin-bottom: 80px;
  }
}

.l-header {
  max-width: 300px;
  padding: 0 2.5rem;
  width: 23.5%;
}

@media (min-width: 768px) {
  .l-header {
    height: 870px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .l-header {
    padding: 0 2.1vw;
  }
}

@media (max-width: 767px) {
  .l-header {
    border-bottom: 1px solid #003dab;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .l-top-visual {
    width: 100%;
  }
}

/* 下層ヘッダー */
@media (min-width: 768px) {
  .l-pages-header {
    height: 545px;
  }
}

.l-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  width: 100%;
}

.l-pages-inner {
  margin-right: auto;
  max-width: 1100px;
}

@media (max-width: 767px) {
  .l-pages-inner {
    width: 100%;
  }
}

.l-sec-right {
  margin: 0 0 0 auto;
  max-width: 1400px;
  width: 76.5%;
}

@media screen and (min-width: 1400px) {
  .l-sec-right {
    width: calc( 100% - 300px);
  }
}

.l-action_nav {
  margin: 0 auto;
  max-width: 1400px;
}

.l-col-left {
  max-width: 300px;
  padding-right: 36px;
  width: 23.5%;
}

@media (max-width: 767px) {
  .l-col-left {
    padding: 0 3.2%;
    width: 14%;
  }
}

.l-col-right {
  max-width: 1400px;
  width: 76.5%;
}

@media (max-width: 767px) {
  .l-col-right {
    width: 86%;
  }
}

@media screen and (min-width: 1400px) {
  .l-col-right {
    width: calc( 100% - 300px);
  }
}

.l-about {
  margin-bottom: 3.375rem;
}

.l-factor {
  margin-bottom: 9.0625rem;
}

.l-faq {
  margin-bottom: 9.0625rem;
}

.l-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1700px;
  position: relative;
  width: 100%;
}

@media (max-width: 767px) {
  .l-col02-fv {
    -ms-flex-flow: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-flow: column;
  }
}

/*===================
ARROW
=====================================*/
.c-arrow::after {
  -webkit-transform: translateY(-50%) rotate(135deg);
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  content: "";
  height: 34px;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
  width: 34px;
}

.c-bg-desc {
  background-color: #e3edff;
  border-radius: 12px;
  padding: 0 2.2875rem 2rem 2.2875rem;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .c-bg-desc {
    padding: 0 2.2vw 2vw 2.2vw;
  }
}

@media (max-width: 767px) {
  .c-bg-desc {
    border-radius: 6px;
    padding: 0 1.5875rem 2rem 1.5875rem;
  }
}

.c-bg-desc__ttl {
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 1;
  padding: 1.19375rem 0;
}

@media (max-width: 767px) {
  .c-bg-desc__ttl {
    font-size: 2.4rem;
    padding: 1.45rem 0;
  }
}

.c-bg-desc__text {
  background-color: #fff;
  border-radius: 23px;
  line-height: 1.44;
  padding: 1.5rem 2rem;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .c-bg-desc__text {
    font-size: 1.18vw;
  }
}

@media (max-width: 767px) {
  .c-bg-desc__text {
    border-radius: 11px;
    font-size: 1.28rem;
    line-height: 1.5;
    padding: 1.38rem 1.2rem;
  }
}

@media (max-width: 767px) {
  .c-bg-desc__text--hiv {
    line-height: 1.74;
    padding: 1.78rem 1.95rem;
  }
}

.c-desc-row {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .c-desc-row {
    display: block;
  }
}

.c-desc-row__item {
  background-color: #fff;
  border-radius: 23px;
  max-width: 497px;
  padding: 2.125rem 2rem;
  width: 48.5%;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .c-desc-row__item {
    padding: 2.1vw 2.0vw;
  }
}

@media (min-width: 768px) {
  .c-desc-row__item {
    height: 88vw;
    max-height: 400px;
  }
}

@media (max-width: 767px) {
  .c-desc-row__item {
    border-radius: 11px;
    margin-bottom: 1.78rem;
    padding: 2.425rem 1.7rem;
    width: 100%;
  }
  .c-desc-row__item:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .c-desc-row__item--pd-short {
    padding: 2.125rem 1.14rem;
  }
}

.c-desc-row__ttl {
  border: 1px solid #003dab;
  border-radius: 3px;
  display: inline-block;
  font-size: 1.375rem;
  height: 19vw;
  line-height: 1;
  line-height: 38px;
  margin-bottom: 1.125rem;
  max-height: 38px;
  max-width: 168px;
  text-align: center;
  width: 58%;
}

@media (max-width: 767px) {
  .c-desc-row__ttl {
    font-size: 1.55rem;
    font-weight: 400;
    margin-bottom: 1.55rem;
    max-width: 210px;
    width: 40%;
  }
}

.c-desc-row__ttl--short {
  font-weight: 400;
  max-width: 100px;
}

@media (max-width: 767px) {
  .c-desc-row__ttl--short {
    font-size: 1.7rem;
    width: 28%;
  }
}

.c-desc-row__desc {
  line-height: 1.56;
  margin-bottom: 1rem;
  text-align: justify;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .c-desc-row__desc {
    font-size: 1.17vw;
  }
}

@media (max-width: 767px) {
  .c-desc-row__desc {
    font-size: 1.19rem;
    line-height: 1.7;
  }
}

/* headerボタン */
.c-header_btn {
  background: no-repeat 1.875rem 50%/ 34px auto;
  color: #fff;
  display: block;
  font-size: 1rem;
  height: 110px;
  line-height: 110px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .c-header_btn {
    background-position-x: 1.84vw;
    background-size: 2.4vw auto;
    font-size: 1.2vw;
  }
}

@media (max-width: 767px) {
  .c-header_btn {
    background-position: 50% 35%;
    background-size: 2.7rem;
    font-size: .88rem;
    height: 19vw;
    line-height: 1;
    margin: 0;
    padding-top: 5.38rem;
    text-align: center;
    width: 46%;
  }
}

.c-header_btn--info {
  background-image: url(../img/common/c_icon_clinic_info.png);
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .c-header_btn--info {
    padding-left: 5.6vw;
  }
}

@media (min-width: 768px) {
  .c-header_btn--info {
    padding-left: 4.625rem;
  }
}

@media (min-width: 768px) {
  .c-header_btn--info {
    margin-bottom: 2.0625rem;
  }
}

.c-header_btn--menu {
  background-image: url(../img/common/c_icon_menu.png);
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .c-header_btn--menu {
    padding-left: 5.8vw;
  }
}

@media (min-width: 768px) {
  .c-header_btn--menu {
    padding-left: 5.125rem;
  }
}

/* ACTION ボタン(ピンク色） */
.c-action_btn {
  background-color: #fb2c5f;
  color: #fff;
  display: block;
  font-size: 0.875rem;
  height: 38px;
  line-height: 38px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.0625rem;
  position: relative;
  width: 100%;
}

@media (max-width: 767px) {
  .c-action_btn {
    font-size: 1.04rem;
  }
}

.c-action_btn::after {
  -webkit-transform: translateY(-50%);
  background: url(../img/common/c_icon_arrow.png) no-repeat 0% 50%/26px 18px;
  content: "";
  height: 18px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
}

@media (max-width: 767px) {
  .c-action_btn::after {
    background-position: 100% 50%;
    background-size: 2.2rem;
    right: 1.0rem;
  }
}

/* MENU ボタン */
.c-menu_btn {
  background-color: #535353;
  color: #fff;
  height: 38px;
  line-height: 38px;
  padding: 0 1.375rem;
  position: relative;
}

.c-menu_btn::after {
  -webkit-transform: translateY(-50%);
  background: url(../img/common/c_icon_arrow.png) no-repeat 0% 50%/26px 18px;
  content: "";
  height: 18px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
}

.c-category {
  background-color: #ffe400;
  color: #003dab;
  display: inline-block;
  height: 32px;
  line-height: 1;
  line-height: 32px;
  text-align: center;
  width: 140px;
}

@media (max-width: 767px) {
  .c-category {
    height: 2.1rem;
    line-height: 2.1rem;
    width: 10rem;
  }
}

.c-check-ttl {
  font-size: 1.4375rem;
  font-weight: 400;
  margin-bottom: 1.0625rem;
  text-align: center;
  text-decoration: underline;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .c-check-ttl {
    font-size: 1.42vw;
  }
}

@media (min-width: 768px) {
  .c-check-ttl {
    line-height: 1;
  }
}

.c-check-list {
  background: no-repeat 50% 50% / cover;
  padding: 2.42rem 3.4375rem;
}

@media (max-width: 767px) {
  .c-check-list {
    padding: 3.2rem 2.2rem;
  }
}

.c-check-list--type-c {
  background-image: url(../img/type-c/check_bg.jpg);
  border: 1px solid #bbbbbb;
  border-radius: 8px;
}

@media (max-width: 767px) {
  .c-check-list--type-c {
    background-image: url(../img/type-c/check_bg_sp.jpg);
    border-radius: 4px;
  }
}

.c-check-list__item {
  background: url(../img/type-c/icon_check.jpg) no-repeat 0% 50%/1.3125rem auto;
  font-size: 1.375rem;
  line-height: 1;
  margin-bottom: 1.1875rem;
  padding-left: 2.4375rem;
}

.c-check-list__item:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .c-check-list__item {
    background-size: 1.38vw auto;
    font-size: 1.34vw;
  }
}

@media (max-width: 767px) {
  .c-check-list__item {
    background-size: 1.7rem auto;
    line-height: 1.24;
    margin-bottom: 1.8rem;
  }
}

.c-row02-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .c-row02-box {
    -ms-flex-flow: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-flow: column;
  }
}

@media (min-width: 768px) {
  .c-row02-box--reverse {
    -ms-flex-flow: row-reverse;
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    flex-flow: row-reverse;
  }
}

/*Font color*/
.c-white {
  color: #fff;
}

.c-gold {
  color: #8b6c3f;
}

.c-blue {
  color: #003dab;
}

.c-blue-light {
  color: #0078ff;
}

.c-pink {
  color: #fb2c5f;
}

.c-pink02 {
  color: #ff0977;
}

.c-red {
  color: #ff3131;
}

/* BG カラー */
.c-bg_blue {
  background-color: #003dab;
}

.c-bg_pink {
  background-color: #fb2c5f;
}

.c-bg_yellow {
  background-color: #ffe400;
}

.c-action_list {
  background-color: #003dab;
  color: #fff;
  padding: 0.875rem 0.9375rem;
}

@media (max-width: 767px) {
  .c-action_list {
    padding: 1.3rem .95rem .78rem;
  }
}

.c-action_list__tit {
  background: no-repeat 1.125rem 50% / 33px 44px;
  font-size: 1.5625rem;
  line-height: 1;
  margin-bottom: 1.0875rem;
  padding: 0.925rem 0;
  padding-left: 4.25rem;
}

@media screen and (min-width: 769px) and (max-width: 1500px) {
  .c-action_list__tit {
    background-size: 2.6vw auto;
    font-size: 1.5vw;
    margin-bottom: 1.45vw;
  }
}

@media (max-width: 767px) {
  .c-action_list__tit {
    background-size: 2.45rem;
  }
}

.c-action_list__tit--access {
  background-image: url(../img/common/c_icon_access.png);
}

.c-action_list__tit--reserve {
  background-image: url(../img/common/c_icon_reserve.png);
}

.c-action_list__tit--contact {
  background-image: url(../img/common/c_icon_contact.png);
}

.c-action_tel {
  padding: 1.875rem 2.1875rem;
  padding-right: 0;
}

@media screen and (min-width: 768px) and (max-width: 1700px) {
  .c-action_tel {
    padding-left: 2.28vw;
  }
}

@media (max-width: 767px) {
  .c-action_tel {
    padding: 1.25rem 1.78rem;
  }
}

.c-action_tel__tit {
  background: url(../img/common/c_icon_freedial.png) no-repeat 0% 50%/51px 33px;
  color: #fff;
  display: block;
  font-size: 2.625rem;
  margin-bottom: 13px;
  padding-left: 4.125rem;
}

@media screen and (min-width: 768px) and (max-width: 1700px) {
  .c-action_tel__tit {
    background-size: 2.98vw auto;
    font-size: 2.4vw;
    padding-left: 3.7vw;
  }
}

@media (min-width: 768px) {
  .c-action_tel__tit {
    line-height: 1;
  }
}

@media (max-width: 767px) {
  .c-action_tel__tit {
    background-size: 3.8rem;
    margin-bottom: .5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .c-action_tel__text {
    font-size: 1vw;
  }
}

@media (max-width: 767px) {
  /* fixed navigation
    ------------------------------ */
  .fixed-nav {
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    align-items: stretch;
    background: #000;
    bottom: 0;
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
    height: 50px;
    padding: 12px 0;
    position: fixed;
    width: 100%;
    z-index: 9998;
  }
  .fixed-nav li {
    -ms-flex: 1 0 33.3333%;
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    -webkit-box-flex: 1;
    align-self: center;
    flex: 1 0 33.3333%;
    position: relative;
    text-align: center;
  }
  .fixed-nav li:nth-of-type(2)::before,
  .fixed-nav li:nth-of-type(2)::after {
    bottom: 0;
    color: #fff;
    content: "|";
    margin: auto;
    padding: 6px 0;
    position: absolute;
    top: 0;
    width: 2px;
  }
  .fixed-nav li:nth-of-type(2)::before {
    left: 0;
  }
  .fixed-nav li:nth-of-type(2)::after {
    right: 0;
  }
  .fixed-nav a {
    -webkit-transition: background .5s;
    border-radius: 1em;
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 1;
    margin: 0 12px;
    padding: 6px 0;
    transition: background .5s;
  }
  .fixed-nav a.is-hover,
  .fixed-nav a.is-active,
  .fixed-nav a.is-first {
    background: #003dab;
  }
}

@media (min-width: 768px) {
  .fixed-nav-popup {
    -webkit-transform: translate3d(0, -660px, 0);
    bottom: auto;
    top: 0px;
    transform: translate3d(0, -660px, 0);
  }
}

/* fixed navigation popup
------------------------------ */
.fixed-nav-popup {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 510px, 0);
  -webkit-transition: 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: rgba(210, 215, 255, 0.68);
  bottom: 50px;
  overflow-y: auto;
  padding: .75em 0;
  position: fixed;
  transform: translate3d(0, 510px, 0);
  transition: 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  z-index: 9997;
}

.fixed-nav-popup__anchor {
  background: #fff;
  border-radius: 6px;
  color: #1124b8;
  display: block;
  font-weight: bold;
  margin: 1em;
  padding: .75em;
  text-align: center;
}

.fixed-nav-popup__anchor > span {
  letter-spacing: .1em;
  margin-left: 3em;
}

@media (max-width: 768px) {
  .fixed-nav-popup__anchor {
    background: #fff;
    border-radius: 6px;
    display: block;
    font-weight: bold;
    margin: 1em;
    padding: .75em;
    text-align: center;
  }
  .fixed-nav-popup__anchor > span {
    letter-spacing: .1em;
    margin-left: .7em;
  }
}

.popup-close {
  height: 26px;
  margin: 0 1em -.125em auto;
  position: relative;
  width: 26px;
}

.popup-close__item {
  background: #fff;
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.popup-close__item:nth-of-type(1) {
  -webkit-transform: translateY(7px) rotate(-45deg);
  top: 5px;
  transform: translateY(7px) rotate(-45deg);
}

.popup-close__item:nth-of-type(2) {
  -webkit-transform: translateY(-7px) rotate(45deg);
  top: 19px;
  transform: translateY(-7px) rotate(45deg);
}

@media (min-width: 768px) {
  .fixed-nav-popup {
    z-index: 9998;
  }
  .fixed-nav-popup__anchor {
    margin: 1em auto;
    max-width: 450px;
  }
  .fixed-nav-popup__close {
    margin: auto;
    width: 420px;
  }
  .popup-close {
    margin: 0 0 -.125em auto;
  }
}

.c-price-row {
  display: inline-block;
  font-size: 0;
  max-width: 464px;
  text-align: left;
  width: 100%;
}

.c-price-row__name, .c-price-row__price {
  display: inline-block;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  padding: 1.25rem 0;
  text-align: center;
}

.c-price-row__name {
  background-color: #003dab;
  border: 1px solid #003dab;
  color: #fff;
  max-width: 199px;
  width: 45%;
}

.c-price-row__price {
  border: 1px solid #003dab;
  color: #003dab;
  max-width: 265px;
  width: 55%;
}

.c-radius-desc {
  -ms-flex-line-pack: center;
  align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

@media (max-width: 767px) {
  .c-radius-desc {
    display: block;
    width: 100%;
  }
}

.c-radius-desc__ttl, .c-radius-desc__text {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .c-radius-desc__ttl, .c-radius-desc__text {
    display: block;
  }
}

.c-radius-desc__ttl {
  background-color: #ffe400;
  border: 1px solid #ffe400;
  border-radius: 20px 0 0 20px;
  color: #003dab;
  font-size: 1rem;
  width: 111px;
}

@media (max-width: 767px) {
  .c-radius-desc__ttl {
    border-radius: 7px 7px 0 0;
    font-size: 1.55rem;
    height: 7vw;
    line-height: 7vw;
    width: 100%;
  }
}

.c-radius-desc__text {
  border: 1px solid #ffe400;
  border-radius: 0 20px 20px 0;
  color: #606060;
  font-size: 0.875rem;
  padding: 0 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .c-radius-desc__text {
    font-size: .94vw;
    padding: 0 .92vw;
  }
}

@media (max-width: 767px) {
  .c-radius-desc__text {
    border-radius: 0 0 7px 7px;
    font-size: 1.1rem;
    height: 13vw;
    line-height: 13vw;
    padding: 0;
    width: 100%;
  }
}

.c-dark {
  color: #333333;
  font-weight: 400;
}

.c-thumb-list {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .c-thumb-list {
    display: block;
  }
}

.c-thumb-list__item {
  max-width: 531px;
  width: 47.8%;
}

@media (max-width: 767px) {
  .c-thumb-list__item {
    margin-bottom: 2.58rem;
    width: 100%;
  }
  .c-thumb-list__item:last-of-type {
    margin-bottom: 0;
  }
}

.c-thumb-list__thumb {
  margin-bottom: 1.6875rem;
}

.c-thumb-list__ttl {
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0.6875rem;
}

@media (max-width: 767px) {
  .c-thumb-list__ttl {
    font-size: 2.125rem;
    margin-bottom: 1.1rem;
  }
}

.c-thumb-list__desc {
  line-height: 1.38;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .c-thumb-list__desc {
    font-size: 1.18vw;
  }
}

@media (max-width: 767px) {
  .c-thumb-list__desc {
    font-size: 1.35rem;
    line-height: 1.7;
  }
}

.c-thumb-list__desc--indent04 {
  line-height: 1.56;
  padding-left: 5em;
  text-indent: -5em;
}

.c-thumb-list__desc--indent03 {
  line-height: 1.56;
  margin-bottom: 2.9875rem;
  padding-left: 3em;
  text-indent: -3em;
}

.c-thumb-list__desc--indent03--mb {
  margin-bottom: 1.4375rem;
}

/* ３列バージョン */
.c-thumb-list-row03__item {
  max-width: 319px;
  width: 30%;
}

@media (max-width: 767px) {
  .c-thumb-list-row03__item {
    max-width: 100%;
    width: 100%;
  }
}

.c-tit-blue {
  background-color: #003dab;
  color: #fff;
  font-size: 1.875rem;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 5.5rem;
  padding: 1.2875rem 2.2625rem;
}

@media (max-width: 767px) {
  .c-tit-blue {
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
  }
}

.c-bg-r-text {
  background-color: #ffe400;
  border-radius: 20px;
  color: #003dab;
  display: inline-block;
  font-size: 1.1875rem;
  letter-spacing: 0.1em;
  padding: 0.425rem 1rem;
  text-align: center;
}

@media (max-width: 767px) {
  .c-bg-r-text {
    font-size: 1.7rem;
    padding: 0.625rem 1.4rem;
  }
}

.c-tit-underline {
  border-bottom: 2px solid #003dab;
  color: #003dab;
  font-size: 1.875rem;
  letter-spacing: 0.1em;
  line-height: 1;
  padding-bottom: 1rem;
}

@media (max-width: 767px) {
  .c-tit-underline {
    font-size: 2.4rem;
  }
}

.triangle::after {
  border-style: solid;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.triangle.triangle-left::after {
  border-color: transparent #ffffff transparent transparent;
  border-width: 35px 60.6px 35px 0;
}

.triangle.triangle-right::after {
  border-color: transparent transparent transparent #ffffff;
  border-width: 35px 0 35px 60.6px;
}

@media (max-width: 767px) {
  .triangle.triangle-left::after {
    border-width: 15px 24px 15px 0;
  }
  .triangle.triangle-right::after {
    border-width: 15px 0 15px 24px;
  }
}

.u-bg-cover {
  background: no-repeat 50% 50% / cover;
}

.u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.u-flex-sb {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.u-flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.u-align-cent {
  -ms-flex-align: center !important;
  -webkit-box-align: center !important;
  align-items: center !important;
}

.u-align-top {
  -ms-flex-align: start !important;
  -webkit-box-align: start !important;
  align-items: flex-start !important;
}

.u-align-bottom {
  -ms-flex-align: end !important;
  -webkit-box-align: end !important;
  align-items: flex-end !important;
}

.u-justify-start {
  -ms-flex-pack: start !important;
  -webkit-box-pack: start !important;
  justify-content: flex-start !important;
}

@font-face {
  font-family: 'Questrial';
  src: url("../font/Questrial 400.ttf") format("truetype");
}

.u-f-questrial {
  font-family: 'Questrial';
}

/*web font リュウミン*/
.u-f-ryu {
  font-family: a-otf-ryumin-pr6n, serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1px;
}

/*font family*/
.u-gosic {
  font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','ヒラギノ角ゴシック','Hiragino Sans',YuGothic,'Yu Gothic','メイリオ', Meiryo,sans-serif;
}

.u-min {
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ＭＳ 明朝', 'MS Mincho',sans-serif;
}

/*===============
PC or SP displey
=====================================*/
.u-sp-none {
  display: none;
}

.u-sp-only {
  display: none;
}

.u-sp-display {
  display: none !important;
}

.u-sp-d-flex {
  display: none !important;
}

@media (max-width: 767px) {
  .u-pc-only {
    display: none;
  }
  .u-sp-only {
    display: block;
  }
  .u-pc-displey {
    display: none !important;
  }
  .u-sp-none {
    display: block;
  }
  .u-sp-display {
    display: block !important;
  }
  .u-sp-d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.u-object-fit {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

/*margin*/
.u-mb0 {
  margin-bottom: 0 !important;
}

.u-mb15 {
  margin-bottom: 15px !important;
}

.u-mb30 {
  margin-bottom: 30px;
}

.u-tl {
  text-align: left !important;
}

.u-tc {
  text-align: center;
}

.u-tr {
  text-align: right;
}

.fw600 {
  font-weight: 600;
}

.u-text-sm {
  font-size: 0.6rem;
  letter-spacing: 1px;
}

.u-vertical__ttl {
  -ms-writing-mode: tb-rl;
  -webkit-text-orientation: sideways;
  -webkit-writing-mode: vertical-rl;
  color: #003dab;
  text-orientation: sideways;
  writing-mode: vertical-rl;
}

.u-vertical__ttl__main {
  display: block;
  font-size: 3.75rem;
  line-height: 1;
}

@media (min-width: 768px) {
  .u-vertical__ttl__main {
    margin-left: -10px;
  }
}

@media (max-width: 767px) {
  .u-vertical__ttl__main {
    display: inline-block;
    margin-bottom: 18px;
  }
}

.u-vertical__ttl__sub {
  -webkit-text-orientation: upright;
  font-size: 1.125rem;
  line-height: 1;
  text-orientation: upright;
}

@media (max-width: 767px) {
  .u-vertical__ttl__sub {
    display: inline-block;
    font-size: 1.3rem;
    left: 3px;
    padding-left: 4px;
    position: relative;
    text-align: center;
  }
}

/* アクセスページ */
.p-access_box {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.5625rem;
  position: relative;
}

.p-access_box__left {
  max-width: 658px;
  padding-bottom: 1.4375rem;
  padding-left: 3.375rem;
  padding-right: 5.75rem;
  width: 65%;
}

@media (max-width: 767px) {
  .p-access_box__left {
    padding: 2.25rem 0;
    padding-top: 0;
    width: 100%;
  }
}

.p-access_box__thumb {
  max-width: 441px;
  position: absolute;
  right: 0;
  top: 0;
  width: 44%;
}

@media (max-width: 767px) {
  .p-access_box__thumb {
    margin-bottom: 2.25rem;
    margin-left: auto;
    margin-right: auto;
    position: static;
    width: 100%;
  }
}

.p-access_box__logo {
  margin-bottom: 1.5625rem;
  max-width: 223px;
  width: 38%;
}

@media (max-width: 767px) {
  .p-access_box__logo {
    margin-left: auto;
    margin-right: auto;
    width: 48%;
  }
}

.p-address-box {
  margin-bottom: 1.625rem;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-address-box {
    margin-bottom: 1.6vw;
  }
}

.p-address-box__ttl, .p-address-box__desc {
  line-height: 1.75;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-address-box__ttl, .p-address-box__desc {
    font-size: 1.17vw;
  }
}

@media (max-width: 767px) {
  .p-address-box__ttl, .p-address-box__desc {
    font-size: 1.45rem;
  }
}

.p-address-box__ttl {
  color: #003dab;
}

.p-address-box__sub-tit {
  display: inline-block;
  width: 10.5rem;
}

@media (max-width: 767px) {
  .p-address-box__sub-tit {
    width: 14.5rem;
  }
}

.p-address-tel {
  display: inline-block;
}

@media (max-width: 767px) {
  .p-address-tel {
    padding-top: 1.24rem;
    width: 69%;
  }
}

.p-address-tel__ttl {
  font-size: 1.125rem;
  letter-spacing: .26em;
  line-height: 1;
  margin-bottom: 0.25rem;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-address-tel__ttl {
    font-size: 1.1vw;
  }
}

@media (max-width: 767px) {
  .p-address-tel__ttl {
    font-size: 1.38rem;
  }
}

.p-address-tel__number {
  background: url(../img/common/c_icon_freedial_blue.png) no-repeat 0% 50%/2.1875rem auto;
  font-size: 1.73125rem;
  margin-bottom: 0.18rem;
  padding-left: 2.625rem;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-address-tel__number {
    font-size: 1.7vw;
  }
}

@media (max-width: 767px) {
  .p-address-tel__number {
    background-size: 2.8rem auto;
    font-size: 2.3rem;
    padding-left: 3.1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-address-tel__time {
    font-size: 1.1vw;
  }
}

@media (max-width: 767px) {
  .p-address-tel__time {
    font-size: 1.22rem;
  }
}

.p-access-map {
  height: 88vw;
  margin-bottom: 6.5625rem;
  max-height: 560px;
}

.p-map-btn {
  display: inline-block;
  font-size: .875rem;
  width: 225px;
}

.p-footer-copy {
  line-height: 1;
  padding: 2rem 0;
}

/* 下層FV */
.p-pages-visual {
  background: url(../img/pages-common/pages_ttl_bg.jpg) no-repeat 50% 50%/cover;
  height: 34vw;
  margin-bottom: 3.1875rem;
  max-height: 324px;
}

.p-pages-visual--bg-access {
  background-image: url(../img/access/ttl.bg.jpg);
}

/*　下層施術説明 */
.p-pages-about {
  background: no-repeat 50% 50%/cover;
  margin-bottom: 4.5rem;
}

.p-pages-about--type-b {
  background-image: url(../img/type-b/about_bg.jpg);
}

@media (max-width: 767px) {
  .p-pages-about--type-b {
    background-image: url(../img/type-b/about_bg_sp.jpg);
    background-position: 67% 50%;
    background-size: auto 100%;
  }
}

.p-pages-about--hiv {
  background-image: url(../img/hiv/about_bg.jpg);
}

@media (max-width: 767px) {
  .p-pages-about--hiv {
    background-image: url(../img/hiv/about_bg_sp.jpg);
  }
}

.p-pages-about--corona {
  background-image: url(../img/coronavirus/about_bg.jpg);
}

@media (max-width: 767px) {
  .p-pages-about--corona {
    background-image: url(../img/coronavirus/about_bg_sp.jpg);
  }
}

.p-pages-about--seibyo {
  background-image: url(../img/seibyou/about_bg.jpg);
}

@media (max-width: 767px) {
  .p-pages-about--seibyo {
    background-image: url(../img/seibyou/about_bg_sp.jpg);
  }
}

.p-pages-about--smear {
  background-image: url(../img/smear/about_bg.jpg);
}

@media (max-width: 767px) {
  .p-pages-about--smear {
    background-image: url(../img/smear/about_bg_sp.jpg);
  }
}

.p-pages-about__tit {
  margin-bottom: 0;
}

.p-pages-about__textbox {
  padding: 4.25rem 2.2625rem;
  width: 40%;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-pages-about__textbox {
    padding: 4.0vw 2.1vw;
    padding-left: 2.2625rem;
  }
}

@media (min-width: 768px) {
  .p-pages-about__textbox {
    max-width: 90%;
    min-width: 579px;
  }
}

@media (max-width: 767px) {
  .p-pages-about__textbox {
    padding: 2.2rem 2.43rem;
    text-align: justify;
    width: 100%;
  }
}

.p-pages-about__textbox--hiv {
  max-width: 703px;
  width: 59%;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-pages-about__textbox--hiv {
    width: 67%;
  }
}

@media (max-width: 767px) {
  .p-pages-about__textbox--hiv {
    width: 100%;
  }
}

.p-pages-about__textbox--seibyo {
  max-width: 660px;
  width: 65%;
}

@media (max-width: 767px) {
  .p-pages-about__textbox--seibyo {
    width: 100%;
  }
}

.p-pages-about__textbox--corona {
  max-width: 620px;
  width: 69%;
}

@media (max-width: 767px) {
  .p-pages-about__textbox--corona {
    width: 100%;
  }
}

.p-pages-about__textbox--smear {
  max-width: 651px;
  width: 47%;
}

@media (max-width: 767px) {
  .p-pages-about__textbox--smear {
    width: 100%;
  }
}

.p-pages-about__desc {
  letter-spacing: .025em;
  line-height: 1.63;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-pages-about__desc {
    font-size: 1.20vw;
  }
}

@media (max-width: 767px) {
  .p-pages-about__desc {
    font-size: 1.58rem;
    line-height: 1.8;
  }
}

.p-pages-about-row {
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 2.125rem 0.9375rem 0 2.25rem;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-pages-about-row {
    padding: 2.1vw .92vw 0 2.2vw;
  }
}

@media (max-width: 767px) {
  .p-pages-about-row {
    -ms-flex-flow: column-reverse;
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    flex-flow: column-reverse;
    padding-bottom: 0;
  }
}

.p-pages-about-row__left {
  max-width: 541px;
  padding-top: 1.445rem;
  width: 54%;
}

@media (max-width: 767px) {
  .p-pages-about-row__left {
    width: 100%;
  }
}

.p-pages-about-row__thumb {
  max-width: 440px;
  width: 44%;
}

@media (max-width: 767px) {
  .p-pages-about-row__thumb {
    margin: 2.5rem auto;
    width: 84%;
  }
}

/* 検査方法 */
.p-inspection {
  margin-bottom: 6.875rem;
}

.p-inspection-list__item {
  margin-bottom: 3.875rem;
}

.p-inspection-list__item:last-of-type {
  margin-bottom: 0;
}

.p-inspection-list__ttl {
  margin-bottom: 2.375rem;
}

@media (max-width: 767px) {
  .p-inspection-list-row {
    -ms-flex-flow: column-reverse;
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    flex-flow: column-reverse;
  }
}

.p-inspection-list-row__left {
  max-width: 600px;
  width: 55%;
}

@media (max-width: 767px) {
  .p-inspection-list-row__left {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .p-inspection-list-row__left--type-b {
    max-width: 580px;
    width: 53%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-inspection-list-row__left--type-b {
    width: 51%;
  }
}

@media (min-width: 768px) {
  .p-inspection-list-row__left--smear {
    max-width: 523px;
    width: 48%;
  }
}

@media (min-width: 768px) {
  .p-inspection-list-row__left--seibyo {
    max-width: 590px;
  }
}

.p-inspection-list-row__thumb {
  max-width: 493px;
  width: 43%;
}

@media (max-width: 767px) {
  .p-inspection-list-row__thumb {
    margin-bottom: 2.34rem;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .p-inspection-list-row__thumb--smear {
    max-width: 493px;
    width: 47%;
  }
}

.p-inspection-list-row__point {
  margin-bottom: 0.6875rem;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-inspection-list-row__point {
    font-size: 1.32vw;
  }
}

@media (max-width: 767px) {
  .p-inspection-list-row__point {
    margin-bottom: 1.1rem;
  }
}

.p-inspection-list-row__desc {
  letter-spacing: 0.1em;
  line-height: 1.38;
  margin-bottom: 4.25rem;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-inspection-list-row__desc {
    font-size: 1.1vw;
    margin-bottom: 3.988vw;
  }
}

@media (max-width: 767px) {
  .p-inspection-list-row__desc {
    font-size: 1.24rem;
    line-height: 1.7;
    margin-bottom: 2.2rem;
  }
}

.p-inspection-list-row__desc--smear {
  margin-bottom: 2.675rem;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-inspection-list-row__desc--smear {
    margin-bottom: 2.98vw;
  }
}

@media (max-width: 767px) {
  .p-inspection-list-row__desc--smear {
    margin-bottom: 2.5rem;
  }
}

/* チェックリスト */
.p-check {
  margin-bottom: 4.25rem;
}

.p-check--smear {
  margin-bottom: 0;
}

.p-check-list--smear {
  background-color: #fcfcfc;
  border: 1px solid #bbbbbb;
  border-radius: 8px;
  padding: 2.1875rem 7.3125rem;
  padding-right: 0;
}

@media (max-width: 767px) {
  .p-check-list--smear {
    border-radius: 4px;
    margin: 0 auto;
    padding: 2.25rem 2.4rem;
    width: 80%;
  }
}

.p-check-list__item--smear {
  display: inline-block;
  max-width: 482px;
  width: 46%;
}

@media (max-width: 767px) {
  .p-check-list__item--smear {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .p-check-list__item--smear:nth-of-type(5), .p-check-list__item--smear:nth-of-type(6) {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .p-check-list__item--smear:last-of-type {
    margin-bottom: 0;
  }
}

.p-case {
  margin-bottom: 6.0625rem;
}

.p-corona-note {
  color: #161616;
  font-size: 1.375rem;
  margin: 2.625rem 0 1.1875rem;
  text-align: center;
}

/* コロナ感染経路 */
.p-root-corona-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 4.3125rem;
}

.p-root-corona-list__item {
  height: 482px;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-root-corona-list__item {
    height: 35vw;
  }
}

@media (max-width: 767px) {
  .p-root-corona-list__item {
    height: 99vw;
  }
}

/* 性病症状 */
.p-case-seibyo-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 7.75rem;
}

.p-case-seibyo-list__item {
  height: 477px;
  margin-bottom: 3.4375rem;
  max-width: 532px;
  position: relative;
  width: 49%;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-case-seibyo-list__item {
    height: 35vw;
  }
}

@media (max-width: 767px) {
  .p-case-seibyo-list__item {
    height: 99vw;
    width: 100%;
  }
}

.p-case-seibyo-list__item--height-up {
  height: 564px;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-case-seibyo-list__item--height-up {
    height: 43vw;
  }
}

@media (max-width: 767px) {
  .p-case-seibyo-list__item--height-up {
    height: 110vw;
  }
}

@media (min-width: 768px) {
  .p-case-seibyo-list__item--height-up {
    margin-bottom: 0;
  }
}

.p-radius-desc {
  bottom: 0;
  position: absolute;
}

/* コロナ症状 */
.p-corona-desc-row__item {
  height: 32vw;
  max-height: 147px;
  width: 48.5%;
}

@media (max-width: 767px) {
  .p-corona-desc-row__item {
    width: 100%;
  }
}

.p-alert {
  border: 1px solid #ff3131;
  color: #ff3131;
  margin: 4.1875rem auto 5.125rem;
  max-width: 969px;
  padding: 1.375rem 0;
  text-align: center;
}

.p-alert__massage {
  font-size: 1.25rem;
  letter-spacing: .1em;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-alert__massage {
    font-size: 1.25vw;
  }
}

@media (max-width: 767px) {
  .p-alert__massage {
    font-size: 1.1rem;
    padding: 0 1.5rem;
  }
}

/* ガン種類 */
.p-case-kind {
  margin-bottom: 4rem;
}

.p-case-box {
  padding: 2.25rem 0 3.75rem;
}

@media (max-width: 767px) {
  .p-case-box {
    -ms-flex-flow: column-reverse;
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    flex-flow: column-reverse;
  }
}

.p-case-box__text {
  max-width: 631px;
  padding-top: .78rem;
  width: 100%;
}

.p-case-box__desc {
  line-height: 1.5;
  margin-bottom: 0.6875rem;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-case-box__desc {
    font-size: 1.08vw;
  }
}

@media (max-width: 767px) {
  .p-case-box__desc {
    font-size: 1.38rem;
  }
}

.p-case-box__thumb {
  margin: 0 4.375rem;
  max-width: 316px;
  width: 70%;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-case-box__thumb {
    margin: 0 4.2vw;
  }
}

@media (max-width: 767px) {
  .p-case-box__thumb {
    margin: 2.25rem auto;
  }
}

.p-nav_text {
  padding: 2.875rem 0;
  padding-right: 43px;
  text-align: right;
}

@media (max-width: 767px) {
  .p-nav_text {
    font-size: 1.1rem;
    padding: 1.4rem 0;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .p-header {
    left: 0;
    position: relative;
    top: 76px;
  }
}

@media (max-width: 767px) {
  .p-header {
    max-width: 100%;
    padding: 2.1rem 0;
    width: 100%;
  }
}

.p-header__inner {
  height: 100%;
  position: relative;
}

@media (max-width: 767px) {
  .p-header__inner {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
  }
}

.p-header__logo {
  width: 148px;
}

@media (min-width: 768px) {
  .p-header__logo {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .p-header__logo {
    max-width: 220px;
    padding-top: 1.57rem;
    width: 42%;
  }
}

.p-header__cv {
  margin: auto;
  margin-top: auto;
}

@media (min-width: 768px) {
  .p-header__cv {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .p-header__cv {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    width: 48%;
  }
}

@media (max-width: 767px) {
  .p-first-view {
    width: 100%;
  }
}

.p-visual {
  background: url(../img/top/fv_bg.jpg) no-repeat 0% 50%/cover;
  height: 830px;
  margin: 0 0 130px auto;
  width: 100%;
}

@media (max-width: 767px) {
  .p-visual {
    background: none;
    height: 120vw;
    margin: 0 0 7.7rem;
    padding-left: 20%;
    position: relative;
    width: 100%;
  }
}

.p-visual__inner {
  height: 100%;
  max-width: 1400px;
  min-width: 700px;
  position: relative;
}

@media (max-width: 767px) {
  .p-visual__inner {
    background: url(../img/top/fv_bg_sp.jpg) no-repeat 0% 50%/cover;
    min-width: auto;
    position: static;
    width: 100%;
  }
}

.p-visual__text_box {
  bottom: -65px;
  max-width: 720px;
  position: absolute;
  right: 0;
  width: 70%;
}

@media (max-width: 767px) {
  .p-visual__text_box {
    bottom: -35px;
    left: 0;
    right: auto;
    width: 90%;
  }
}

.p-visual__text_box__tit {
  color: #575757;
  display: block;
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 2.4375rem;
  margin-left: 20%;
  padding: 2.0625rem 0;
  text-align: center;
}

@media (max-width: 767px) {
  .p-visual__text_box__tit {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1267px) {
  .p-visual__text_box__tit {
    font-size: 2.2rem;
  }
}

.p-visual__text_box__desc {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 2.06;
  padding: 2rem 2.0625rem;
  text-align: justify;
}

@media (max-width: 767px) {
  .p-visual__text_box__desc {
    font-size: 1.2rem;
    padding: 2.78rem 2.4rem;
  }
}

/* アクションエリア */
.p-action_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5.3125rem;
}

@media (max-width: 767px) {
  .p-action_nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 7.8rem;
  }
}

.p-action_nav__list {
  border-right: 1px solid #fff;
  height: 130px;
  position: relative;
  width: 309px;
}

.p-action_nav__list:last-of-type {
  border: none;
}

@media (max-width: 767px) {
  .p-action_nav__list {
    height: 26vw;
    width: 33.3333333333%;
  }
}

.p-action_nav__list--tel {
  width: 473px;
}

@media (max-width: 767px) {
  .p-action_nav__list--tel {
    border-bottom: 1px solid #fff;
    border-right: none;
    display: block;
    height: 22vw;
    width: 100%;
  }
}

.p-action_btn {
  -webkit-transform: translateX(-50%);
  bottom: 16px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 88%;
}

@media (max-width: 767px) {
  .p-action_btn {
    bottom: 10px;
  }
}

.p-action_btn--tel {
  -webkit-transform: translateY(-50%);
  left: auto;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  width: 34%;
}

.p-about {
  margin-bottom: 3.375rem;
}

.p-about_desc {
  margin-bottom: 3.375rem;
}

@media (max-width: 767px) {
  .p-about_desc {
    -ms-flex-flow: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-flow: column;
  }
}

.p-about_desc__text {
  background-color: #dae5e9;
  line-height: 1.88;
  max-width: 1093px;
  padding: 3.8125rem 3.75rem;
  width: 77.9%;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-about_desc__text {
    font-size: 1.2vw;
  }
}

@media (max-width: 767px) {
  .p-about_desc__text {
    padding: 2.8rem 2.9rem;
    width: 100%;
  }
}

.p-about_desc__link {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #768288;
  color: #fff;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5625rem;
  font-weight: lighter;
  letter-spacing: 0;
  line-height: 1.4;
  max-width: 308px;
  padding: 3.0625rem 5.5rem 3.0625rem 2.9375rem;
  position: relative;
  width: 30%;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-about_desc__link {
    font-size: 1.84vw;
    padding-right: 3.2vw;
  }
}

@media (max-width: 767px) {
  .p-about_desc__link {
    line-height: 1;
    max-width: 100%;
    padding: 1.7rem 3.2rem;
    width: 100%;
  }
}

.p-about_desc__link::after {
  -webkit-transform: translateY(-50%);
  background: url(../img/common/c_icon_arrow.png) no-repeat 88% 50%/28px 20px;
  content: "";
  height: 16px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
}

/* メニュー */
.p-treatment__lists {
  width: 100%;
}

.p-treatment_item {
  margin-bottom: 2.9375rem;
  width: 48.7%;
}

@media (max-width: 767px) {
  .p-treatment_item {
    width: 100%;
  }
}

.p-treatment_item__link {
  display: block;
}

.p-treatment_item__top {
  position: relative;
}

.p-treatment_item__thumb {
  height: 20vw;
  left: 0;
  top: 0;
  width: 100%;
}

@media (max-width: 767px) {
  .p-treatment_item__thumb {
    height: 44vw;
  }
}

.p-treatment_item__cat {
  position: absolute;
  right: 12px;
  top: 15px;
}

@media (max-width: 767px) {
  .p-treatment_item__cat {
    right: 15px;
  }
}

.p-treatment_item__btn {
  font-size: 0.875rem;
  margin-bottom: .775rem;
  margin-left: auto;
  margin-right: 0;
  max-width: 225px;
  width: 39%;
}

@media (max-width: 767px) {
  .p-treatment_item__btn {
    font-size: 1.04rem;
    width: 44%;
  }
}

.p-treatment_item__ttl {
  font-size: 1.875rem;
  margin-bottom: .8125rem;
}

@media (min-width: 768px) {
  .p-treatment_item__ttl {
    line-height: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-treatment_item__ttl {
    font-size: 1.92vw;
  }
}

.p-treatment_item__desc {
  line-height: 1.88;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .p-treatment_item__desc {
    font-size: 1.1vw;
  }
}

/* 特徴 */
.p-advance_item {
  margin-bottom: 2.2vw;
  position: relative;
  width: 48.7%;
}

@media (max-width: 767px) {
  .p-advance_item {
    margin-bottom: 2.7rem;
    width: 100%;
  }
}

.p-advance_item__img {
  height: 20vw;
}

@media (max-width: 767px) {
  .p-advance_item__img {
    height: 58vw;
  }
}

.p-advance_item__contents {
  background-color: rgba(0, 0, 0, 0.45);
  bottom: 0;
  height: 139px;
  left: 0;
  padding: 2.725rem  2.075rem 0;
  position: absolute;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1700px) {
  .p-advance_item__contents {
    height: 7.6vw;
    padding-top: 2.525vw;
  }
}

@media (max-width: 767px) {
  .p-advance_item__contents {
    height: 27vw;
    padding-top: 3.7rem;
  }
}

.p-advance_item__contents__ttl {
  background-color: #ffe400;
  color: #535353;
  display: inline-block;
  font-size: 1.875rem;
  padding: 0 0.625rem;
  position: absolute;
  top: -.7rem;
}

@media screen and (min-width: 768px) and (max-width: 1700px) {
  .p-advance_item__contents__ttl {
    font-size: 1.8vw;
  }
}

.p-advance_item__contents__desc {
  color: #fff;
  line-height: 1.88;
}

@media screen and (min-width: 768px) and (max-width: 1700px) {
  .p-advance_item__contents__desc {
    font-size: .87vw;
  }
}

@media (max-width: 767px) {
  .p-advance_item__contents__desc {
    font-size: 1.14rem;
  }
}

/* 相談 */
.p-consultation {
  background-image: url(../img/top/consultation_bg.jpg);
  background-position: 10% 50%;
  padding: 8.3125rem;
  padding-left: 6rem;
}

@media (max-width: 767px) {
  .p-consultation {
    background-image: url(../img/top/consultation_bg_sp.jpg);
    padding: 4rem 1.7rem 25rem;
    text-align: center;
  }
}

.p-consultation__ttl {
  font-size: 2.5rem;
  margin-bottom: 3.1875rem;
}

@media (min-width: 768px) {
  .p-consultation__ttl {
    line-height: 1;
  }
}

@media (max-width: 767px) {
  .p-consultation__ttl {
    font-size: 2.0rem;
  }
}

.p-consultation__desc {
  color: #535353;
  line-height: 1.88;
}

@media (max-width: 767px) {
  .p-consultation__desc {
    font-size: 1.2rem;
  }
}

.p-faq_item {
  margin-bottom: 2.5rem;
}

.p-faq_item:last-of-type {
  margin-bottom: 0;
}

.p-faq_item__qs {
  border-bottom: 1px solid #003dab;
  font-size: 1.375rem;
  padding-bottom: 1.125rem;
}

@media (max-width: 767px) {
  .p-faq_item__qs {
    display: inline-block;
    font-size: 1.8rem;
  }
}

.p-faq_item__answer {
  color: #535353;
  line-height: 1.75;
  margin-top: 1.3125rem;
}

@media (max-width: 767px) {
  .p-faq_item__answer {
    font-size: 1.2rem;
    padding-right: 1.2%;
  }
}

.p-faq-category {
  font-size: 1rem;
  margin-left: 1.25rem;
}

/* インフォメーション */
.p-information_box {
  background-image: url(../img/top/information_bg.jpg);
  background-position: 10% 50%;
  padding: 6rem 2.4375rem 3.75rem;
}

@media (max-width: 767px) {
  .p-information_box {
    background-image: url(../img/top/information_bg_sp.jpg);
    padding: 4.5rem 3.5rem;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .p-information_box__bg {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 2.8rem 0;
  }
}

.p-information_box__logo {
  margin-bottom: 2.1875rem;
  max-width: 307px;
  width: 40%;
}

@media (max-width: 767px) {
  .p-information_box__logo {
    margin: 0 auto 1.5rem;
    width: 62%;
  }
}

.p-information_box__address {
  color: #535353;
  line-height: 1.75;
  margin-bottom: 1.875rem;
}

.p-information_box__tel {
  background: url(../img/common/c_icon_freedial_blue.png) no-repeat 0% 50%/51px 33px;
  font-size: 2.625rem;
  margin-bottom: 0.9375rem;
  padding-left: 4.3125rem;
}

@media (max-width: 767px) {
  .p-information_box__tel {
    background-size: 3.2rem auto;
  }
}

.p-information_box__sub_number {
  margin-bottom: 2.125rem;
}

@media (max-width: 767px) {
  .p-information_box__sub_number {
    margin-bottom: 0;
  }
}

.p-info_action {
  max-width: 619px;
  width: 100%;
}

.p-info_action__list {
  width: 50%;
}

.p-info_action__list:first-of-type {
  border-right: 1px solid #fff;
}

@media (max-width: 767px) {
  .p-info_action__list {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .p-info_action__list__tit {
    background-size: 33px 44px;
    font-size: 1.5625rem;
    margin-bottom: 1.0875rem;
    padding: 0.925rem 0;
    padding-left: 4.25rem;
  }
}

/* マップ */
.map {
  height: 450px;
  margin-bottom: 4.125rem;
  width: 100%;
}

@media (max-width: 767px) {
  .map {
    height: 68vw;
    margin-bottom: 10rem;
  }
}

.map__frame {
  margin-bottom: 1rem;
}

.map__link {
  margin-right: 1.375rem;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .map__link {
    font-size: 1.2rem;
  }
}

.p-root {
  margin-bottom: 4.125rem;
}

.p-root-list {
  margin-bottom: 3.8125rem;
}
